@import '../../../common/style/variables.scss';

.point-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $offset__small;
    
    &__remove-icon {
        font-weight: bold;
        padding: 4px;
        border-radius: 4px;
        height: 16px;
        display: flex;
        align-items: flex-end;
        width: 16px;
        justify-content: center;
    }
}